{
  # Use Step CA as ACME provider
  acme_ca https://step-ca.test:9000/acme/acme/directory
  acme_ca_root /data/caddy/step-ca-root.crt

  # Non-standard ports
  http_port  8080
  https_port 8443
}

step-ca.test:8443 {
  reverse_proxy step-ca:9000
}

dockhand.test:8443 {
  reverse_proxy dockhand:3000
}

flatnotes.test:8443 {
  reverse_proxy flatnotes:8080
}

vaultwarden.test:8443 {
  reverse_proxy vaultwarden:80
}
