{
  http_port  8080
  https_port 8443
}

dockhand.test:8443 {
  tls internal
  reverse_proxy dockhand:3000
}

flatnotes.test:8443 {
  tls internal
  reverse_proxy flatnotes:8080
}

vaultwarden.test:8443 {
  tls internal
  reverse_proxy vaultwarden:80
}

tasks.test:8443 {
  tls internal
  reverse_proxy tasks:8080
}
