# Copy this to .env and fill in your values
# Never commit .env to git

DOCKER_STEPCA_INIT_NAME=Homelab CA
DOCKER_STEPCA_INIT_DNS_NAMES=step-ca.test
DOCKER_STEPCA_INIT_REMOTE_MANAGEMENT=true
DOCKER_STEPCA_INIT_ACME=true
STEP_CA_PASSWORD=REPLACE_ME
